@charset "utf-8";
@import url('reset.css');

/* 헤더 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Pretendard', 'Noto Sans KR';
}

#header .inner {
    width: 100%;
    max-width: 1805px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .logo img {
    width: 100%;
    object-fit: cover;
}

#header .inner .nav {
    font-size: 24px;
    font-weight: bold;
    line-height: 21px;
    color: #fff;
}

#header .inner .nav ul {
    display: flex;
    gap: 70px;
}

#header .inner .nav ul li:hover {
    text-decoration: underline;
}

#header .inner .icon ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* 메인 */
#main {
    margin-bottom: 200px;
}

#main .inner {
    width: 100%;
    margin: 0 auto;
}

#main .inner .list {
    display: flex;
    flex-wrap: wrap;
}

#main .inner .list .item {
    position: relative;
    /* #main .inner .list .item h1 */
    width: 50%;
}

#main .inner .list .item img {
    width: 100%;
    object-fit: cover;
}

#main .inner .list .item h1 {
    display: inline-block;
    position: absolute;
    /* #main .inner .list .item */
    bottom: 3%;
    left: 5%;
    color: #fff;
    font-family: 'Pretendard', 'Noto Sans KR';
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
}

#main .inner .list .item h1:hover {
    text-decoration: underline;
}


/* 푸터 */
#footer {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

#footer .inner {
    font-family: 'Pretendard', 'Noto Sans KR';
    color: #1c1c1c;
}

#footer .inner .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#footer .inner .top .left-box {
    display: flex;
    gap: 120px;
}

#footer .inner .top .left-box .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer .inner .top .left-box .nav h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

#footer .inner .top .left-box .nav li {
    font-size: 16px;
    font-weight: 400;
}

#footer .inner .top .left-box .nav li:hover {
    text-decoration: underline;
}

#footer .inner .top .right-box {
    color: #1c1c1c;
}

#footer .inner .top .right-box .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer .inner .top .right-box .text h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

#footer .inner .top .right-box .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

#footer .inner .bottom {
    border-top: solid 1px #00000025;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#footer .inner .bottom .left-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

#footer .inner .bottom .left-text p {}

#footer .inner .bottom .left-text a {}

#footer .inner .bottom .right-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

#footer .inner .bottom .right-text span {}

#footer .inner .bottom .right-text p {}

#footer img {
    margin-bottom: 20px;
}